---
/* eslint max-lines: 'off' */

import {asset, fetchApi} from "../lib/data.js";
import {API_URL} from "../app/constants";

const noticeList = await fetchApi(`${API_URL}/cs`, {type: "N"})
.then((response) => response.json());

const noticeList2 = await fetchApi(`${API_URL}/cs`, {type: "F"})
.then((response) => response.json());

const notices = await noticeList?.noticeList.filter((item, idx) => idx < 2).map((notice) => {
	return {
		title: notice.title,
		content: notice.detail,
		createdAt: notice.date,
	};
});

const today = new Date().getFullYear() + '-' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '-' + ('0' + new Date().getDate()).slice(-2);

/*
const moneys = [4900, 2500, 6700, 8900, 5600, 9900,
	6000, 10900, 84000, 75900, 90000, 82000,
	60100, 99700, 81000, 92400, 83100, 77300,
	62500, 79900, 47300, 70200, 16000, 9800,];
let summary = 0;
moneys.forEach((money) => {
	summary += money;
});

console.log(summary);
*/


const numberWithCommas = (x: number): string => {
	return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
}
/*
 * chart 등의 포맷은 여기에서만 쓸 것 같아서 component 화 하지 않고 그냥 구현
*/
---

<div class="p-2">
	<div class="grid w-full grid-cols-1 gap-3 xl:grid-cols-1 2xl:grid-cols-2">
		<!-- Left widget -->
		<div class="grid gap-3 shadow-sm ">
			<div class="px-4 pt-6 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:px-4 sm:pt-6 dark:bg-gray-800">
				<div class="w-full mb-4 sm:mb-0">
					<h3 class="text-base font-normal text-gray-500 dark:text-gray-400">
						시간대별 매출액 | 단위: 시간, 원(1K = 1,000)
					</h3>
					<span class="text-2xl font-bold leading-none text-gray-900 sm:text-3xl dark:text-white">{numberWithCommas(1166600)}원</span>
					<p class="flex items-center text-base font-normal text-gray-500 dark:text-gray-400">
						{today}
					</p>
				</div>
				<!-- NOTE: Charts could be extracted to a generic UI component -->
				<div id="day-of-time-sales-chart"></div>
			</div>
			<div class="px-4 pt-6 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:px-4 sm:pt-6 dark:bg-gray-800">
				<div class="flex items-center justify-between mb-2">
					<div class="flex-shrink-0">
								<span
									class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white"
								>{numberWithCommas(4251000)}원</span>
						<h3 class="text-base font-light text-gray-500 dark:text-gray-400">
							최근 7일 매출액(예시)
						</h3>
					</div>
				</div>

				<!-- NOTE: Charts could be extracted to a generic UI component -->
				<div id="week-sales-chart"></div>
			</div>
		</div>
		<!-- Right widget -->
		<div class="grid gap-3 w-full grid-cols-1 xl:grid-cols-2 2xl:grid-cols-2">
			<div class="grid gap-3 w-full grid-cols-1 xl:grid-cols-2 2xl:grid-cols-2">
				<div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-4 dark:bg-gray-800">
					<div>
						<h3 class="text-gray-500 dark:text-gray-400">오늘 정산 예정 금액</h3>
						<span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
										<svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
											<path clip-rule="evenodd" fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
										</svg>
										<h4 class="text-xl font-bold dark:text-white">1,234,124</h4>원
									</span>
					</div>
				</div>
				<div class="items-center justify-between p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:flex dark:border-gray-700 sm:p-4 dark:bg-gray-800">
					<div>
						<h3 class="text-gray-500 dark:text-gray-400">미정입니다</h3>
						<span class="flex items-center mr-1.5 text-sm text-green-500 dark:text-green-400">
																		<svg class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
																			<path clip-rule="evenodd" fill-rule="evenodd" d="M10 17a.75.75 0 01-.75-.75V5.612L5.29 9.77a.75.75 0 01-1.08-1.04l5.25-5.5a.75.75 0 011.08 0l5.25 5.5a.75.75 0 11-1.08 1.04l-3.96-4.158V16.25A.75.75 0 0110 17z"></path>
																		</svg>
																		<h4 class="text-xl font-bold dark:text-white">234,124</h4>원
																	</span>
					</div>
				</div>
				<!-- Terminal Donut chart -->
				<div class="grid gap-3">
					<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800  xl:mb-0 col-span-1">
						<h3 class="text-lg font-medium text-gray-900 dark:text-white">단말기 동작현황</h3>
						<div class="items-center" id="status-by-terminal"></div>
						<!-- Card Footer -->
						<div class="flex items-center justify-between pt-2 lg:justify-evenly sm:pt-4 flex">
							<div>
								<h3 class="text-gray-500 dark:text-gray-400">동작중</h3>
								<h4 class="text-xl font-bold dark:text-white">100 대</h4>
							</div>
							<div>
								<h3 class="text-gray-500 dark:text-gray-400">미가동</h3>
								<h4 class="text-xl font-bold dark:text-white">45 대</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- Activity Card -->
				<div class="grid gap-3 w-full grid-cols-1">
					<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-4 dark:bg-gray-800 xl:mb-0">
						<div class="flex items-center justify-between mb-2">
							<h3 class="text-lg font-medium text-gray-900 dark:text-white">
								공지사항
							</h3>
							<a
								href="#"
								class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700"
							>
								전체보기
							</a>
						</div>
						<ol class="relative border-l border-gray-200 dark:border-gray-700">
							{
								notices?.map((notice) =>
									<li class="mb-4 ml-4" key={notice.id}>
										<div
											class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"></div>
										<time
											class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{notice.createdAt}</time>
										<!--<h3 class="text-lg font-medium text-gray-900 dark:text-white">{notice.title}</h3>-->
										<!-- 미표기 -->
										<p class="text-base font-normal text-gray-900 dark:text-white">
											<!--dangerouslySetInnerHTML={{__html: notice.content.slice(0, 100)}}-->{notice.title}
										</p>
									</li>
								)
							}
						</ol>
					</div>
					<div class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-4 dark:bg-gray-800 xl:mb-0">
						<div class="flex items-center justify-between mb-2">
							<h3 class="text-lg font-medium text-gray-900 dark:text-white">
								자주묻는질문
							</h3>
							<a
								href="#"
								class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-primary-700 hover:bg-gray-100 dark:text-primary-500 dark:hover:bg-gray-700"
							>
								전체보기
							</a>
						</div>
						<ol class="relative border-l border-gray-200 dark:border-gray-700">
							{
								notices?.map((notice) =>
									<li class="mb-4 ml-4" key={notice.id}>
										<div
											class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-800 dark:bg-gray-700"></div>
										<time
											class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{notice.createdAt}</time>
										<!--<h3 class="text-lg font-medium text-gray-900 dark:text-white">{notice.title}</h3>-->
										<!-- 미표기 -->
										<p class="text-base font-normal text-gray-900 dark:text-white">
											<!--dangerouslySetInnerHTML={{__html: notice.content.slice(0, 100)}}-->{notice.title}
										</p>
									</li>
								)
							}
						</ol>
					</div>
				</div>
			</div>
			<div class="grid gap-3 w-full grid-cols-1">
				<!--Ad widget -->
				<div class="relative overflow-hidden w-full items-center justify-between bg-white border border-gray-200 rounded-lg dark:border-gray-700 dark:bg-gray-800" data-carousel="slide" id="gallery">
					<div class="relative overflow-hidden rounded-lg h-full">
						<!-- Item 1 -->
						<div class="overflow-hidden hidden duration-700 ease-out" data-carousel-item="active">
							<a href="#">
								<img src="https://image.ubcn.co.kr/vmms/20250516popup.png" class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
							</a>
						</div>
						<!-- Item 2 -->
						<div class="overflow-hidden  hidden duration-700 ease-out" data-carousel-item>
							<a href="#">
								<img src="https://image.ubcn.co.kr/vmms/Rental_service.jpg" class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
							</a>
						</div>
						<!-- Item 3 -->
						<div class="overflow-hidden  hidden duration-700 ease-out" data-carousel-item>
							<a href="#">
								<img src="https://image.ubcn.co.kr/vmms/20250508popup.png" class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
							</a>
						</div>
					</div>
					<!-- Slider controls -->
					<button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
									        <span class="inline-flex items-center justify-center w-10 h-10 bg-opacity-50 rounded-full bg-gray-500 dark:bg-gray-800/30 group-hover:bg-gray-600 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
									            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
									                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
									            </svg>
									            <span class="sr-only">Previous</span>
									        </span>
					</button>
					<button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
									        <span class="inline-flex items-center justify-center w-10 h-10 bg-opacity-50 rounded-full bg-gray-500 dark:bg-gray-800/30 group-hover:bg-gray-600 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
									            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
									                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
									            </svg>
									            <span class="sr-only">Next</span>
									        </span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	//import './DashBoard.client.js';
	import {getDayOfTimeSalesChart, getWeekSalesChart} from "./DashBoard.client.js";

	//const getDayOfTimeSalesList = await fetch(`${API_URL}/list/todaySalesList`).then((response) => response.json());
	const getDayOfTimeSalesList =
		{
			today: [4900, 2500, 6700, 8900, 5600, 9900, 6000, 10900, 84000, 75900, 90000, 82000, 60100, 99700, 81000, 92400, 83100, 77300, 62500, 79900, 47300, 70200, 16000, 9800,],
			yesterday: [6000, 8300, 1400, 900, 5600, 7000, 6400, 18400, 65500, 73300, 91100, 85000, 99100, 78700, 60000, 79900, 69800, 87600, 78000, 62100, 40800, 85000, 23000, 7100,],
		};
	const getWeekSalesList = {
		amounts: [981000, 223000, 510000, 614000, 398000, 650000, 875000,],
		counts: [981, 223, 510, 614, 398, 650, 875,]
	};

	getDayOfTimeSalesChart(getDayOfTimeSalesList.today, getDayOfTimeSalesList.yesterday);
	getWeekSalesChart(getWeekSalesList.amounts, getWeekSalesList.counts);

</script>
<style is:inline>
	@media (min-width: 640px) {
		/*실제로는 hidden*/
		#gallery img {
			width: 50% !important;
		}
	}

	@media (min-width: 1024px) {
		/*실제로는 hidden*/
		#gallery img {
			width: 50% !important;
		}
	}

	@media (min-width: 1280px) {
		#gallery img {
			width: 50% !important;
		}
	}

	@media (min-width: 1536px) {
		#gallery img {
			width: 90% !important;
		}
	}
</style>
<style is:global>
	/* chart styles */
	.apexcharts-tooltip {
		@apply bg-white dark:bg-gray-700 text-gray-500 dark:text-gray-400 border-0 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-title {
		@apply py-2 px-4 bg-gray-100 dark:bg-gray-600 border-b border-gray-200 dark:border-gray-500 !important;
	}

	.apexcharts-xaxistooltip {
		@apply text-gray-500 border-0 bg-white dark:bg-gray-700 dark:text-gray-300 rounded-lg shadow-lg !important;
	}

	.apexcharts-tooltip .apexcharts-tooltip-text-y-value {
		@apply dark:text-white;
	}

	.apexcharts-xaxistooltip-text {
		@apply font-medium text-sm !important;
	}

	.apexcharts-xaxistooltip:before,
	.apexcharts-xaxistooltip:after {
		@apply border-0 !important;
	}
</style>
