---
/* eslint max-lines: 'off' */

import {asset} from '../lib/data.js';

import ColorModeSwitcher from '../components/ColorModeSwitcher.astro';
import GitHubButton from '../components/GitHubButton.astro';
import SearchInput from '../components/SearchInput.astro';
import MainLogo from '../assets/ubcn-logo.png';
import Favicon from '../assets/favicon.ico';
import KakaoChannel from '../assets/kakao-channel-logo.svg?raw';

import DefaultProfile from '../assets/user-profile.svg?raw';
import DropdownDown from '../assets/dropdown-down.svg?raw';

---
<script>
	import { Collapse } from 'flowbite';
	import type { CollapseOptions, CollapseInterface } from 'flowbite';
	import type { InstanceOptions } from 'flowbite';
	const $targetEl: NodeListOf<Element> = document.querySelectorAll('.navbar-dropdown');
	document.querySelectorAll('.navbar-dropdown').forEach((button) => {
		button.addEventListener('click', () => {
			
		});
	});
	
</script>
<!-- 메뉴 스타일 0 -->
<nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
	<div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
		<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse"> 
			<img src={Favicon} class="h-8" alt="Logo"/>
			<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"> </span> 
		</a>
		<div class="flex items-center md:order-2 space-x-1 md:space-x-2 rtl:space-x-reverse">
			<!-- Profile -->
			<div class="flex items-center ml-3">
				<div>
					<button type="button"
									class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
									id="user-menu-button-2" aria-expanded="false" data-dropdown-toggle="dropdown-2">
						<span class="sr-only">Open user menu</span>
						<div set:html={DefaultProfile} class="w-8 h-8 rounded-full"/>
					</button>
				</div>

				<!-- Dropdown menu -->
				<div
					class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
					id="dropdown-2" data-popper-placement="bottom"
					style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(1568px, 58px);">
					<div class="px-4 py-3" role="none">
						<p class="text-sm text-gray-900 dark:text-white" role="none">테스트</p>
						<p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">test@ubcn.co.kr</p>
					</div>
					<ul class="py-1" role="none">
						<li><a href="#"
									 class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
									 role="menuitem">개인정보</a></li>
						<li><a href="#"
									 class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
									 role="menuitem">로그아웃</a></li>
					</ul>
				</div>
				<button data-collapse-toggle="mega-menu-full" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="mega-menu-full" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
			</div>
		</div>
		
		<div id="mega-menu-full"
				 class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
			<ul
				class="flex flex-col mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
				<li>
					<a href="#"
						 class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700"
						 aria-current="page">홈</a>
				</li>
				<li>
					<button id="contract-button" data-dropdown-toggle="contract" data-dropdown-delay="0"
									class="navbar-dropdown flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
						계약·운영
						<div set:html={DropdownDown} class="ml-1"/>
					</button>
				</li>
				<li>
					<button id="transaction-button" data-dropdown-toggle="transaction" data-dropdown-delay="0" 
									class="navbar-dropdown flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
						결제·인증조회
						<div set:html={DropdownDown} class="ml-1"/>
					</button>
				</li>
				<li>
					<button id="service-button" data-dropdown-toggle="service" data-dropdown-delay="0"
									class="navbar-dropdown flex items-center justify-between w-full py-2 px-3 font-medium text-gray-900 border-b border-gray-100 md:w-auto hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700">
						서비스관리
						<div set:html={DropdownDown} class="ml-1"/>
					</button>
				</li>
				<!-- 고객센터 연결 -->
				<li>
					<a href="http://pf.kakao.com/_Ihxlbj/chat" title="고객센터 연결"
						 class="block py-2 px-3 text-gray-900 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-blue-500 md:dark:hover:bg-transparent dark:border-gray-700 flex">
						<div set:html={KakaoChannel} class="w-6 h-6 mr-1" />채널문의
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contract"
						 class="mt-1 bg-white border-gray-200 shadow-xs border dark:bg-gray-800 dark:border-gray-600 hidden z-10">
					<div
						class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:grid-cols-2 md:px-6">
						<ul aria-labelledby="contract-button">
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">계약관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">상점의 계약을 관리합니다.</span>
								</a>
							</li>
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">상점관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">상점과 관련된 모든 정보를 관리합니다.</span>
								</a>
							</li>
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">그룹관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">상점의 집합인 그룹을 관리합니다.</span>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">단말기관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">단말기와 관련된 모든 정보를 관리합니다.</span>
								</a>
							</li>
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">조직루트관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">단말기들의 집합 조직을 관리합니다.</span>
								</a>
							</li>
							<li>
								<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
									<div class="font-semibold">권한관리</div>
									<span class="text-sm text-gray-500 dark:text-gray-400">메뉴/기능/페이지 등의 권한을 관리합니다.</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
	<div id="transaction"
			 class="mt-1 bg-white border-gray-200 shadow-xs border dark:bg-gray-800 dark:border-gray-600 hidden z-10">
		<div
			class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-0 md:grid-cols-2 md:px-6">
			<ul aria-labelledby="transaction-button" class="hidden md:block">
				<li>
					<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
						<div class="font-semibold">통합결제조회</div>
						<span class="text-sm text-gray-500 dark:text-gray-400">모든 결제수단에 대한 결제내역을 조회할 수 있습니다.</span>
					</a>
				</li>
				<li>
					<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
						<div class="font-semibold">결제내역 집계</div>
						<span class="text-sm text-gray-500 dark:text-gray-400">결제내역을 결제수단별로 집계합니다.</span>
					</a>
				</li>
				<li>
					<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
						<div class="font-semibold">결제정산</div>
						<span class="text-sm text-gray-500 dark:text-gray-400">매입사로부터 수신받은 입금된 정산내역을 확인할 수 있습니다.</span>
					</a>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
						<div class="font-semibold">출입내역조회</div>
						<span class="text-sm text-gray-500 dark:text-gray-400">출입이력을 확인할 수 있습니다.</span>
					</a>
				</li>
				<li>
					<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
						<div class="font-semibold">성인인증내역조회</div>
						<span class="text-sm text-gray-500 dark:text-gray-400">성인인증된 내역을 확인할 수 있습니다.</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="service"
					 class="mt-1 bg-white border-gray-200 shadow-xs border dark:bg-gray-800 dark:border-gray-600 hidden z-10">
				<div
					class="grid max-w-screen-xl px-4 py-5 mx-auto text-gray-900 dark:text-white sm:grid-cols-2 md:grid-cols-2 md:px-6">
					<ul aria-labelledby="merchant-button">
						<li>
							<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
								<div class="font-semibold">단말기관리</div>
								<span class="text-sm text-gray-500 dark:text-gray-400">단말기 정보를 관리합니다.</span>
							</a>
						</li>
						<li>
							<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
								<div class="font-semibold">계정관리</div>
								<span class="text-sm text-gray-500 dark:text-gray-400">사용자 계정을 관리합니다.</span>
							</a>
						</li>
						<li>
							<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
								<div class="font-semibold">가동상태조회</div>
								<span class="text-sm text-gray-500 dark:text-gray-400">머신기로부터 수신받은 상태정보를 확인합니다.</span>
							</a>
						</li>
					</ul>
					<ul>
						<li>
							<a href="#" class="block p-3 rounded-lg hover:bg-gray-50 dark:hover:bg-gray-700">
								<div class="font-semibold">상품관리</div>
								<span class="text-sm text-gray-500 dark:text-gray-400">그룹별 상품/재고를 관리합니다.</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
</nav>

